<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cadastrar músicas
        </mat-panel-title>
      </mat-expansion-panel-header>
        <app-musica></app-musica>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Montar formação
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-formacao></app-formacao>
    </mat-expansion-panel>
  </mat-accordion>