<div class="message-container">
    <mat-card class="message-card" *ngFor="let formacao of filtro; let i = index">

    <mat-card-content>
        <mat-card-title>Você foi selecionado para ser {{formacao.integrantes[i]}}!</mat-card-title>
        <mat-card-subtitle>{{formacao.musica.titulo}} - {{formacao.musica.artista}}</mat-card-subtitle>
  
      <p>
        Formação final: <br>
        <span *ngFor="let usuario of formacao.usuarios; let j = index">
            {{usuario.nome}} é {{formacao.integrantes[j]}} <br>
        </span>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="confirmarFormacao()">Confirmar</button>
      <button mat-button (click)="cancelarFormacao()">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</div>