<div class="login-container">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <div class="grid-container">
                <h1 class="mat-h1">Login</h1>
                <mat-form-field>
                    <input matInput [(ngModel)]="loginCpf" placeholder="CPF">
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="fazerLogin()">Fazer login</button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="grid-container">
                    <h1 class="mat-h1">Cadastro</h1>
                    <mat-form-field>
                        <input matInput [(ngModel)]="usuario.cpf" placeholder="CPF">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [(ngModel)]="usuario.nome" placeholder="Nome">
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="criarUsuario(usuario)">Cadastrar</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
  
  </div>